<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
</head>
<body>
    <h1>Lista de Categorias</h1>
    <a href="{{ url_for('add_categoria') }}">Adicionar Nova Categoria</a>
    <ul>
        {% for categoria in categorias %}
            <li>{{ categoria[1] }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Voltar ao Início</a>
</body>
</html>
